[submodule "fwk_io"]
	path = fwk_io
	url = git@github.com:xmos/fwk_io.git
[submodule "lib_xua"]
	path = lib_xua
	url = git@github.com:xmos/lib_xua.git
[submodule "fwk_core"]
	path = fwk_core
	url = git@github.com:xmos/fwk_core.git
